---
import Copy from "@components/Copy"

const { name, url, colors, icon: Icon, copyTemplate } = Astro.props

const copyText = copyTemplate
  .replace("{name}", name)
  .replace("{url}", url)
---

<div  class="w-full flex items-center justify-between border-2 rounded-2xl cursor-pointer text-[var(--AllColors)] dark:border-2 dark:border-white dark:bg-[var(--AllColors)]"
      style={`--AllColors: ${colors.text};`}
> 
  <div class="w-full hoverButton hover:text-white rounded-l-xl hoverButton hover:bg-[var(--AllColors)] dark:hover:bg-white">
    <a href={url} class="w-full flex items-center justify-start gap-2 pl-4 py-2 font-medium text-lg hoverText dark:text-white dark:hover:text-[var(--AllColors)]" target="_blank" rel="noopener noreferrer">
      <Icon class="size-10" />
      <p>{name}</p>
    </a>
  </div>
  <Copy copyText={copyText} client:load/>
</div>
