---
import socialmedia from "@utils/socialmedia"
import ButtonLink from "@components/ButtonLink.astro"
---

<div class="w-full mt-6">
  <ul class="w-full flex flex-col items-center justify-center gap-4">
    {socialmedia.map((link) => (
      <li class="w-full">
        <ButtonLink
          name={link.name}
          icon={link.icon}
          url={link.url}
          colors={link.colors}
          copyTemplate={link.copyTemplate}
        />
      </li>
    ))}
  </ul>
</div>